
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <!-- Le styles -->
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="experiment-pages.css" />
     <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/jquery.form.min.js"></script>
    <script src="/static/js/demo.js"></script>
    <script src="/static/bootstrap/js/bootstrap.js"></script>
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <script type="text/javascript">
        $(document).on('ready',function(){
              $.ajax({
                  type:"GET",
                  contentType:"application/json; charset=utf-8",
                  dateType:"json",
                  url:"/ws/productos/",
                  success:function(response){
                          var i = (response.length-1)-2;
                          for(i;i<=(response.length-1);i++){
                              $('#ProductosNuevos').append("<li>"+response[i].fields.nombre+"</li>");
                          }    
                  }
              });
        });
    </script>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="{% url "vista_principal" %}">Sistema Academico</a>
            <ul class="nav">
<div class="btn-group">
  <button type="button" class="btn btn-danger">Contactos</button>
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="{% url "ver_contacto" %}">Ver Contacto</a></li>
  </ul>
</div>

 <div class="btn-group">
  <button type="button" class="btn btn-danger">Docente</button>
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="{% url "vista_docente" %}">Nuevo Docente</a></li>
    <li class="divider"></li>
    <li><a href="#">Login Docente</a></li>
    <li class="divider"></li>
    <li><a href="#">Buscar Estudiante</a></li>
  </ul>
</div>



 <div class="btn-group">
  <button type="button" class="btn btn-danger">Estudiante</button>
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="{% url "vista_estudiante" %}">Nuevo Estudiante</a></li>
    <li class="divider"></li>
    <li><a href="#">Login Estudiante</a></li>
  </ul>
</div>

  <div class="btn-group">
  <button type="button" class="btn btn-danger">Carrera</button>
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="{% url "vista_carrera" %}">Nueva Carrera</a></li>
    <li class="divider"></li>
    <li><a href="#">Buscar Carrera</a></li>
  </ul>
</div>

<div class="btn-group">
  <button type="button" class="btn btn-danger">Plataforma Virtual</button>
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Ver Libro</a></li>
    <li class="divider"></li>
    <li><a href="#">Subir Contacto</a></li>
  </ul>
</div>

 <div class="btn-group">
  <button type="button" class="btn btn-danger">Administrador</button>
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="/admin/">Login</a></li>
  </ul>
</div>



        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span9">
          <div class="hero-unit">
            {% block contenido %}
            {% endblock%}
          </div>
        </div><!--/span-->
      
           <img src="/static/images/django.gif"/>
        </div><!--/span-->
      </div><!--/row-->
      <hr>
      <footer>
        <p>&copy; PROYECTO 2014. Versión Django: {{django_version}}</p> 
      </footer>
    </div><!--/.fluid-container-->
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
