{% extends "base.html"%}
{% block contenido %}
<table width="100%" border="1">	
			<tr>
				<td>Nombres</td>			
				<td>Apellidos</td>
				<td>ci</td>
				<td>email</td>
				<td>password</td>
		
			</tr>

			<tr>
				<td>
					{{dato.nombre}}
				</td>
				<td>
					{{dato.apellido}}
				</td>
				<td>
					{{dato.ci}}
				</td>
				<td>
					{{dato.email}}
				</td>
				<td>
					{{dato.password}}
				</td>
				<td>
					<a href="/editarestudiante/{{dato.id}}/">Editar</a>
				</td>
			</tr>
	</table>
{% endblock %}